 .services{
    background-color: beige;
    height: 1900px;

}

.filter-contain{
    display: flex;
    justify-content: center;
    margin: 20px 0px;
}

.nav-links{
    display: flex;
    justify-content: center;
}

.topic{
    display: flex;
    justify-content: center;
    font-size: 30px;
}

.filter{
    
    justify-content: center;
    background-color: white;
    border: 3px solid white;
    border-radius: 5px;
    
}

.row{
    display: flex;
}

.col{
    margin: 10px 40px;
}

.col-1{
    padding-left: 150px;
}

.col-3{
    padding-right: 150px;
}

.dot {
    height: 15px;
    width: 15px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
}

.nav-links .links a{
    text-decoration: none;
    color: #92C63E;
}

.dropbtn {
    background-color: white;
    color: black;
    padding: 10px;
    font-size: 13px;
    border: 1px solid black;
    cursor: pointer;
    border-radius: 5px;
  }


  .s-container{
    background-color: transparent;
    max-width: 1700px;
    margin: 0 auto;
    text-align: center;
    padding: 25px 20px; 

}

.s-container .heading{
  font-size: 40px;
  margin-bottom: 20px;
  color: white; 
}

.s-container .box-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px ,1fr));
    gap: 20px;
}

.s-container .box-container .box{
    background-color: white;
    border-radius: 5px;
    display: none;
}

.s-container .box-container .box:nth-child(1),
.s-container .box-container .box:nth-child(2),
.s-container .box-container .box:nth-child(3),
.s-container .box-container .box:nth-child(4){
    display: inline-block;
}

.s-container .box-container .box .image{
    margin-bottom: 20px;
    overflow: hidden;
    height: 200px;
    border-radius: 5px;

}

.s-container .box-container .box .image img{
   height: 100%; 
   width: 100%;
}

 .s-container .box-container .box .content h3{
    font-size: 20px;
    color: #334;

 }

 .s-container .box-container .box .content h4{
    font-size: 15px;
    color: #334;
    line-height: 2px;
    padding: 15px 0; 
 }

 .s-container .box-container .box .content .btn{
    display: inline-block;
    padding: 10px 30px;
    border: 1px solid #334;
    color:  #334;
    font-size: 16px;
    text-decoration: none;

 }


 #load-more{
    margin-top: 20px;
    display: inline-block;
    padding: 10px 70px;
    border: 1px solid white;
    border-radius: 10px;
    color:  white;
    font-size: 16px;
    text-decoration: none;
    background-color: #92C63E;
    cursor: pointer;
 }

 #load-more:hover{
    background-color: white;
    color: black;
    transition: 0.5s;
 }

 

 @media (max-width:450px){
    .container .heading{
        font-size: 25px;
    }

    .container .box-container{
        grid-template-columns: 1fr;
    }

    .container .box-container .box .image{
       height: 200px; 
    }

    .container .box-container .box .content .h4{
        font-size: 12px;
    }


 }
 
