*{

    margin: 0;
    padding: 0;
}

body{
    background-image: url();
    background-size: cover;
    background-position: center;
    font-family: sans-serif;
}

.popup-overlay{
    display: none;
    position: absolute;
    top: 20%;
    left: 35%;
    z-index: 100;

}


.form-box{
    width: 500px;
    background: rgba(256, 256, 256, 1);
    margin: 12% auto;
    padding: 50px 0;
    color: #fff;
    box-shadow: 0 0 20px 2px rgba(0, 0, 0, 0.5);
    z-index: 100;
}

h1{
    text-align: center;
    margin-bottom: 40px;
    color: black;

}

.input-box{
    margin-top: 10px;
    margin-bottom: 30px;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    height: 30px;
    border: 1px solid black;
    border-radius: 20px;
    padding-bottom: 5px;
}

.input-box input{
    width: 90%;
    border: none;
    outline: none;
    background: transparent;
    color: black;
    margin-top: 9px;
    margin-left: 10px;
}

.eye{
  position: absolute;
  margin-top: 8px;  
}

#hide1{
   display: none;
}

.pass{
    display: flex;
}

.pass h3{
    margin-left: 50px;
    margin-right: 180px;
    color: black;
}

.pass h4{
    color: rgb(133, 188, 35);
}

.form-box h3{
    margin-left: 50px;
    color: black;
}

.login{
    display: flex;
    justify-content: center;
    text-align: center;
}

.login .login-btn{
    margin-top: 20px;
}

.lgn{
    width: 200px;
    height: 50px;
    background:rgb(133, 188, 35);
    color: white;
    border: 1px white solid;
    border-radius: 15px;
    font-size: 25px;
    cursor: pointer;
}

.login a{
    margin-top: 10px;
    text-decoration: none;
    color: rgb(133, 188, 35);
}

