*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
    /* background:linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.4)) ,url("../images/shopping\ bags.jpg"); */
    height: 750px;
    background-size: cover;
    text-align: left;
}

.header-title-1{
    
    font-size: 45px;
    font-family: 'Roboto';
    margin-top: 150px;
    margin-left: 50px;
    letter-spacing: 2px;

}

.header-vm-1{
    color: white;
    background-color: transparent;
    padding: 10px 30px;
    text-decoration: none;
    margin-left: 45px;
    border: solid rgb(192, 192, 192) 2px;
    border-radius: 25px;
    font-family: 'Open Sans';
    transition: all 0.3s ease-in-out;

}


h2{
    color: white;
    font-size: 2em;
}

p{
    color:white;
    margin-top: 90px;
    margin-left: 50px;
    font-family: 'Open Sans';
    font-size: 15px;
    margin-bottom: 70px;
    
}

.logo{
    color: white;
    font-family: 'Open Sans';
    font-size: 25px;
    padding-right: 20px;
}


.logo span.dark-blue{
    color: #021849;    
}

.logo span.green{
    color: #92C63E;
}

.nav-menu{
    list-style: none;
    
}
  
.nav-menu li{
      display: inline-block;
      color: #45413e;
      font-size: 1.25em;
      margin-top: 20px;
      margin-left: 30px;
      margin-right: 20px;
      font-family: 'Open Sans';
      transition: all 0.3s ease-in-out;  
}

nav{
    display: flex;
    justify-content: space-between;
    background-color: white;
    padding: 10px;
    position: fixed;
    z-index: 1;
}


.nav-menu li a{

    text-decoration: none;
    color: #45413e;
    margin-left: 14.5px;

}

/*************************************dropdown*********************************************************/

.dropdown {
    float: left;
    overflow: hidden;
    margin-left: 80px;
    margin-top: 10px;
    color: white;
    font-size: 1.25em;
    font-family: 'Open Sans';
  }

  .dropdown .dropbtn {
    font-size: 16px;
    border: none;
    outline: none;
    color:  #45413e;
    padding: 12px 0px;
    background-color: inherit;
    font: inherit; /* Important for vertical align on mobile phones */
    margin: 0; /* Important for vertical align on mobile phones */
  }

  .navbar a:hover, .dropdown:hover .dropbtn {
    background-color: #011418;
    color: white;
  }

  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    width: 100%;
    left: 0;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }

  .dropdown:hover .dropdown-content {
    display: block;
  }

  .column {
    float: left;
    width: 20%;
    padding: 10px;
    background-color: #011418;
    height: 520px;
  }


  .column a {
    float: none;
    color: #45413e;
    padding: 16px;
    text-decoration: none;
    display: block;
    text-align: left;
  }

  .column h3{
    margin-left: 18px;
  }

  .column a:hover {
    background-color: #ddd;
  }

  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  

/************************** popular section ****************************/

.container{
    background-color: #011418;
    max-width: 1600px;
    margin: 0 auto;
    text-align: center;
    padding: 25px 20px; 

}

.container .heading{
  font-size: 40px;
  margin-bottom: 20px;
  color: white; 
}

.container .box-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px ,1fr));
    gap: 20px;
}

.container .box-container .box{
    background-color: white;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 5px 10px rgba(0,0,0,0.2);
    display: none;
}

.container .box-container .box:nth-child(1),
.container .box-container .box:nth-child(2),
.container .box-container .box:nth-child(3),
.container .box-container .box:nth-child(4){
    display: inline-block;
}

.container .box-container .box .image{
    margin-bottom: 20px;
    overflow: hidden;
    height: 200px;
    border-radius: 5px;

}

.container .box-container .box .image img{
   height: 100%; 
   width: 100%;
}

.container .box-container .box:hover .image img{
    transform: scale(1.1);

 }

 .container .box-container .box .content h3{
    font-size: 20px;
    color: #334;

 }

 .container .box-container .box .content h4{
    font-size: 15px;
    color: #334;
    line-height: 2px;
    padding: 15px 0; 
 }

 .container .box-container .box .content .btn{
    display: inline-block;
    padding: 10px 30px;
    border: 1px solid #334;
    color:  #334;
    font-size: 16px;
    text-decoration: none;

 }

 .container .box-container .box .content .btn:hover{
    background-color: black;
    color: white;
    transition: 0.5s;
 }

 #load-more{
    margin-top: 20px;
    display: inline-block;
    padding: 10px 70px;
    border: 1px solid white;
    border-radius: 10px;
    color:  white;
    font-size: 16px;
    text-decoration: none;
    background-color: transparent;
    cursor: pointer;
 }

 #load-more:hover{
    background-color: white;
    color: black;
    transition: 0.5s;
 }

 

 @media (max-width:450px){
    .container .heading{
        font-size: 25px;
    }

    .container .box-container{
        grid-template-columns: 1fr;
    }

    .container .box-container .box .image{
       height: 200px; 
    }

    .container .box-container .box .content .h4{
        font-size: 12px;
    }
 }
 



/******************************************* banner ************************************/

.banner{
    
    width: 100%;
    height: 750px;
    background-repeat: no-repeat ;
    position: relative;
    background-image: url(../images/cliff-lake.jpg);
    background-size: cover;
    padding-bottom: 50px;

}

.banner h2{
    position: relative;
    text-align: center;
    font-size: 45px;
    font-family: 'Roboto';
    padding-top: 300px;
    letter-spacing: 2px;
    padding-bottom: 0px;

}

.banner p{

    position: relative;
    text-align: center;
    color:white;
    font-family: 'Open Sans';
    margin: 0 0;
    padding-top: 30px;
    font-size: 15px;
   
}

/*******************************Featured Products****************************************/

/* .featured-items{
    background-color:#011418;
    padding-top: 40px;
    padding-bottom: 100px;

}

.featured-top{
    position: flex;
    justify-content: center;
    text-align: center;
    padding-bottom: 30px;
}

.scroll .nav p{
    font-size: 30px;
}

.scroll .nav a{
    border: solid gray 2px;
    background-color: gray;
    padding: 0px 5px;
    color: white;
    text-decoration: none;
}

.featured-row{
    display: flex;
    justify-content: center;

}

.featured-col{
    width: 350px;
    margin-right: 20px;
    margin-left: 20px;
}

.featured-image-1,
.featured-image-2,
.featured-image-3,
.featured-image-4{
    width: 100%;
    height: 197px;
    background-repeat: no-repeat ;
    position: relative;
    
}

.featured-image-1{
    background-image: url(../images/featured-1.JPG);
    background-size: cover;
    
}
.featured-image-2{
    background-image: url(../images/featured-2.JPG);
    background-size: cover;
    
}
.featured-image-3{
    background-image: url(../images/featured-3.JPG);
    background-size: cover;
    
}
.featured-image-4{
    background-image: url(../images/featured-4.JPG);
    background-size: cover;
    
}

.featured-h2{

    font-size: 30px;
    padding-bottom: 30px;
    margin-bottom: 50px;

}

.featured-p{
    text-align: center;
    margin: 0;
    font-size: 10px;
    padding-top: 10px;
}

.featured-h3{

    background: white;
    padding: 10px ;
    font-size: 15px;
    font-family: 'Open Sans';
    text-align: center;

} */

.product{
    position: relative;
    padding: 20px;
    height: 600px;
    overflow: hidden;
    background-color: #011418;
    

}

.product-category{
    padding: 0 10vw;
    font-size: 30px;
    font-weight: 500;
    margin-bottom: 40px;
    text-transform: capitalize;
    justify-content: center;
    text-align: center;
}

.product-container{
    padding: 50px 50px;
    display: flex;
}

.product-card{
    flex:  0 0 auto;
    width: 330px;
    height: 200px;
    margin-right: 40px;
}

.product-image{
    position: relative;
    width: 100%;
    height: 350px;
    overflow: hidden;
    
}

.product-thumb{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.product-info{
    width: 100%;
    height: 80px;
    padding-top: 10px;
    background: white;
    justify-content: center;
    text-align: center;
}

.product-brand{
    text-transform: uppercase;
    color: black;
}

.product-short-desc{
width: 100%;
height:20px;
line-height: 20px;
text-transform: capitalize;
margin: 5px 0;
color: #92C63E;

}

.pre-btn{
    height: 30px;
    width: 30px;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    left: 500px;
    position: absolute;
    border: solid gray 2px;
    background-color: gray;
    padding: 0px 5px;
    
    

}

.nxt-btn{
    height: 30px;
    width: 30px;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    right: 500px;
    position: absolute;
    border: solid gray 2px;
    background-color: gray;
    padding: 0px 5px;
}




/* ***************************************Up footer *********************************************/

.upper-footer{
    background-color: #4A3F3B;
    height: 270px;
   
}
.upper-row{
    display: flex;
    justify-content: center;
    
}

.upper-col{
    display: flex;
    justify-content: center;
    padding: 5px 5px;
}

.upper-row-in-1,
.upper-row-in-2,
.upper-row-in-3{
    display: flex;
    justify-content: center;
}

.upper-col-in-1,
.upper-col-in-2,
.upper-col-in-3{
    display: flex;
    justify-content: center;
    margin-top: 70px;
}

.up-h-1,
.up-h-2,
.up-h-3{
    text-align: right;
    display: inline;
    font-family: 'Open Sans' ;
    
}

.up-p-1,
.up-p-2,
.up-p-3{
    text-align: left;
    margin: 0px 0px;
    color: gray;
    padding-top: 10px;
    font-family: 'Open Sans' ;

}

.up-1 i,
.up-2 i,
.up-3 i{
   
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 10px;
    padding-right: 5px;
    padding-left: 10px;
    font-size: 80px;
    color: #92C63E;
}

/******************************************************** footer ***************************************************************/

footer{
   padding: 100px;
   background-color: white;
  
}

.footer-row-h{
    display: flex;
   
}

.footer-col-h{
    margin: 0px 30px;
    padding: 0px 80px;
    font-family: 'Open Sans';
    display: flex;
}

/* h3.Con{

}

h3.Catg{
    

} */

h3.Abt{

    padding-left: 110px;
    
}



.footer-row{
    display: flex;
    justify-content: center;
    
}

.footer-col{
    margin: 30px 30px;
    padding: 0px 70px;
    font-family: 'Open Sans';
    display: flex;
}

.footer-title{
   font-family: 'Open Sans'; 
   margin-bottom: 30px;
}

.footer-col a{
    text-decoration: none;
    color: gray;
}

.footer-col p{
    margin: 0px 0px;
}

.footer-col a.cat{
  font-family: 'Open Sans'; 
  
}

h3.footer-title{
    display: flex;
}

a.c1{
    margin-bottom: 10px;
}

ul li{
    margin-bottom: 30px;
    list-style: none;
   
}

ul.left{
  
  justify-content: left;
  margin-right: 30px;
 
  
}

ul.middle{
    justify-content: center;
    margin-right: 30px;
    margin-left: 30px;
    
}

ul.right{
    margin-left: 30px;
    
}

ul.socials{
    display: flex;
    margin-right: 10px;
    
}

ul li i{
    margin: 0px 10px;
}


